In [15]:
import pandas as pd

Indlæsning af data

Indlæser rødvin og hvidvin fra Excel og bruger den anden række som header

In [18]:
rødvin = pd.read_excel("winequality-red.xlsx", header=1)
hvidvin = pd.read_excel("winequality-white.xlsx", header=1)

Viser de første 5 rækker for rødvin

In [21]:
rødvin.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Viser de første 5 rækker for hvidvin

In [24]:
hvidvin.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

Rensning af data

Nu renses dataen for begge filer.

In [27]:
rødvin.info()
hvidvin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

Som vi kan se, er der ingen manglende data. Alligevel dobbelt-tjekkes der for at være helt sikker.

In [30]:
print("\nrødvin")
print(rødvin.isnull().sum())

print("\nhvidvin")
print(hvidvin.isnull().sum())

rødvin
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

hvidvin
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Som det fremgår, ser det ud til, at alle datatyperne er korrekte, og der er ingen manglende værdier i datasættet. Derfor vurderer vi, at der ikke er behov for rensning af dataene.

Sammenlægning af datasæt

Nu kombineres de to datasæt til et samlet datasæt.

In [34]:
# Tilføjer en kolonne til at angive, om data kommer fra rødvin eller hvidvin
rødvin['vin_type'] = 'red'  
hvidvin['vin_type'] = 'white'  

# Kombinerer de to datasæt
vin_data = pd.concat([rødvin.head(), hvidvin.head()])

Tjek af det samlede datasæt

Nu ses det kombineret datasæt.

In [37]:
print("samlet datasæt:")
print(vin_data)

samlet datasæt:
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076
0            7.0              0.27         0.36            20.7      0.045
1            6.3              0.30         0.34             1.6      0.049
2            8.1              0.28         0.40             6.9      0.050
3            7.2              0.23         0.32             8.5      0.058
4            7.2              0.23         0.32             8.5      0.058

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56
0                 45.0                 170.0   1.0010  3.00       0.45
1                 14.0                 132.0   0.9940  3.30       0.49
2                 30.0                  97.0   0.9951  3.26       0.44
3                 47.0                 186.0   0.9956  3.19       0.40
4                 47.0                 186.0   0.9956  3.19       0.40

   alcohol  quality vin_type
0      9.4        5      red
1      9.8        5      red
2      9.8        5      red
3      9.8        6      red
4      9.4        5      red
0      8.8        6    white
1      9.5        6    white
2     10.1        6    white
3      9.9        6    white
4      9.9        6    white

In [39]:
# Bare for at være sikker på, at det virker ordentligt, tages en tilfældig prøve.
print("tilfældig prøve:")
vin_data.sample(10)

tilfældig prøve:

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,vin_type
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

OPGAVE 4

In [42]:
# 4. Udforskning af de tre dataframes og identifikation af afhængig og uafhængige variabler
# Udforsk rødvin
print("Rødvin features:")
print(rødvin.columns)
print(rødvin.describe())

# Udforsk hvidvin
print("\nHvidvin features:")
print(hvidvin.columns)
print(hvidvin.describe())

# Udforsk samlet vin_data
print("\nSamlet vin_data features:")
print(vin_data.columns)
print(vin_data.describe())

Rødvin features:
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'vin_type'],
      dtype='object')
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000

Hvidvin features:
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'vin_type'],
      dtype='object')
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    4898.000000       4898.000000  4898.000000     4898.000000
mean        6.854788          0.278241     0.334192        6.391415
std         0.843868          0.100795     0.121020        5.072058
min         3.800000          0.080000     0.000000        0.600000
25%         6.300000          0.210000     0.270000        1.700000
50%         6.800000          0.260000     0.320000        5.200000
75%         7.300000          0.320000     0.390000        9.900000
max        14.200000          1.100000     1.660000       65.800000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  4898.000000          4898.000000           4898.000000  4898.000000
mean      0.045772            35.308085            138.360657     0.994027
std       0.021848            17.007137             42.498065     0.002991
min       0.009000             2.000000              9.000000     0.987110
25%       0.036000            23.000000            108.000000     0.991723
50%       0.043000            34.000000            134.000000     0.993740
75%       0.050000            46.000000            167.000000     0.996100
max       0.346000           289.000000            440.000000     1.038980

                pH    sulphates      alcohol      quality
count  4898.000000  4898.000000  4898.000000  4898.000000
mean      3.188267     0.489847    10.514267     5.877909
std       0.151001     0.114126     1.230621     0.885639
min       2.720000     0.220000     8.000000     3.000000
25%       3.090000     0.410000     9.500000     5.000000
50%       3.180000     0.470000    10.400000     6.000000
75%       3.280000     0.550000    11.400000     6.000000
max       3.820000     1.080000    14.200000     9.000000

Samlet vin_data features:
Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'vin_type'],
      dtype='object')
       fixed acidity  volatile acidity  citric acid  residual sugar  \
count      10.000000         10.000000    10.000000        10.00000
mean        7.740000          0.463000     0.234000         5.68000
std         1.314196          0.261153     0.204841         5.99459
min         6.300000          0.230000     0.000000         1.60000
25%         7.200000          0.272500     0.010000         1.90000
50%         7.400000          0.290000     0.320000         2.45000
75%         7.800000          0.700000     0.355000         8.10000
max        11.200000          0.880000     0.560000        20.70000

       chlorides  free sulfur dioxide  total sulfur dioxide    density  \
count  10.000000            10.000000             10.000000  10.000000
mean    0.067700            26.200000            102.000000   0.996870
std     0.018457            15.112908             61.645942   0.001963
min     0.045000            11.000000             34.000000   0.994000
25%     0.052000            14.250000             55.500000   0.995600
50%     0.066500            21.000000             82.000000   0.996900
75%     0.076000            41.250000            160.500000   0.997800
max     0.098000            47.000000            186.000000   1.001000

              pH  sulphates    alcohol    quality
count  10.000000  10.000000  10.000000  10.000000
mean    3.258000   0.521000   9.640000   5.600000
std     0.155478   0.100161   0.374759   0.516398
min     3.000000   0.400000   8.800000   5.000000
25%     3.190000   0.442500   9.425000   5.000000
50%     3.230000   0.525000   9.800000   6.000000
75%     3.290000   0.575000   9.875000   6.000000
max     3.510000   0.680000  10.100000   6.000000

OPGAVE 5

In [44]:
# Omdanner 'vin_type' fra tekst ('red'/'white') til tal (0/1)
vin_data['vin_type'] = vin_data['vin_type'].map({'red': 0, 'white': 1})

In [46]:
# Tjekker om kodningen er udført korrekt
print("\nDe første 10 rækker efter transformation af vin_type:")
print(vin_data[['vin_type']].head(10))

De første 10 rækker efter transformation af vin_type:
   vin_type
0         0
1         0
2         0
3         0
4         0
0         1
1         1
2         1
3         1
4         1